.design_container {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: #F6EDDD;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blank {
    background-color: #75BEDA;
}

.selected {
    border: #75BEDA 4px solid;
}

.kuki_design img {
    width: 80px;
    height: 80px;
    
    background-size: cover;
}
