@font-face {
    font-family: 'HSYuJi';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/HSYuJi/HSYuJi.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/HSYuJi/HSYuJi.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/HSYuJi/HSYuJi.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/HSYuJi/HSYuJi.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/HSYuJi/HSYuJi.ttf') format("truetype");
    font-display: swap;
}

.page {
    width: 390px;
    height: 844px;

    display: flex;
    flex-direction: column;

    background-color: #F6EDDD;
}

.kukibox_section {
    width: 390px;
    height: 679px;

    border: 3px solid #49260A;

    background-image: url('../assets/images/Kukibox_Home.svg');
}

.kukibox {
    margin-top: 96px;
    margin-left: 64px;

    width: 260px;
    height: 494px;

    display: flex;
    flex-wrap: wrap;
}

.kukibox_button {
    margin-top: 8px;
    padding-left: 105px;
    padding-right: 105px;

    display: flex;
    justify-content: space-between;
}

.kukibox_button button {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}

.kukibox_button .left_button {
    background-image: url('../assets/images/LeftButton.svg');
}

.kukibox_button .right_button {
    background-image: url('../assets/images/RightButton.svg');
}


.make_button_section {
    width: 390px;
    height: auto;

    display: flex;
    justify-content: center;
}

.make_button {
    width: 268px;
    height: 55px;

    margin-top: 58px;
    

    font-family: 'HSYuJi';

    color: white;
    background-color: #75BEDA;

    border-radius: 20px;
    border: 0px solid;

    
}

.hoverable {
    transition: transform 0.3s ease;
}

.hoverable:hover {
    transform: scale(1.1);
}