.MakerHomePage {
  text-align: center;
  display: flex;
  background: #F6EDDD80;
  width: 390px;
  height: 844px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MakerHomePage textarea {
  padding-top: 20px;
  padding-left: 20px;
}

.page_header {
  color: #623B1C!important;
  text-align: center;
  font-family: HSYuJi;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  position: absolute;
  top: 128px;
}

.title_header {
  color: #623B1C;
  text-align: center;
  font-family: HSYuJi;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;
  position: absolute;
  top: 238px;
}
.title_section {
  width: 268px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #CAAD8C;
  position: absolute;
  top: 272px;
}
.title_section textarea {
  width: 100%;
  height: 100%;

  font-family: HSYuJi;
  border: none;
  background: none;
}

.title_section textarea:focus {
  outline: none;
}
.link_header {
  color: #623B1C;
  text-align: center;
  font-family: HSYuJi;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;
  position: absolute;
  top: 362px;
}
.link_section {
  width: 268px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #CAAD8C;
  position: absolute;
  top: 512px;
}

.link_section textarea {
  width: 100%;
  height: 100%;

  font-family: HSYuJi;
  border: none;
  background: none;
}

.link_section textarea:focus {
  outline: none;
}
.info_header {
  color: #623B1C;
  text-align: center;
  font-family: HSYuJi;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;
  position: absolute;
  top: 482px;
}
.info_section {
  width: 268px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #CAAD8C;
  position: absolute;
  top: 396px;
}

.info_section textarea {
  width: 100%;
  height: 100%;

  font-family: HSYuJi;
  border: none;
  background: none;
}

.info_section textarea:focus {
  outline: none;
}

.button_section {
  width: 268px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #75BEDA;
  position: absolute;
  top: 672px;
  z-index: 2;
  
}
.button_section button {
  color: #FFFFFF;
  text-align: center;
  font-family: HSYuJi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;
  position: absolute;
  top: 680px;

  border: none;
  background: none;

  z-index: 1;
}

