@font-face {
  font-family: 'LotteriaChab';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.ttf') format("truetype");
  font-display: swap;
} 
@font-face {
  font-family: 'HSYeolumMulbit';
  src: url('../assets/fonts/HSYeolumMulbit.ttf');
}

.maker_home {
  text-align: center;
  display: flex;
  background: #F6EDDD80;
  width: 390px;
  height: 844px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.maker_home_title {
  color: #623B1C;
  text-align: center;
  font-family: HSYeolumMulbit;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  white-space: pre-line;
  position: absolute;
  top: 128px;
}

.maker_home_name {
  color: #623B1C;
  text-align: center;
  font-family: HSYeolumMulbit;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;
  position: absolute;
  top: 238px;
}
.maker_home_namebox {
  width: 268px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #CAAD8C;
  position: absolute;
  top: 272px;
}
.maker_home_linkbox {
  width: 268px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #CAAD8C;
  position: absolute;
  top: 512px;
}
.maker_home_optionbox {
  width: 268px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #CAAD8C;
  position: absolute;
  top: 392px;

}

.maker_home_link {
  color: #623B1C;
  text-align: center;
  font-family: HSYeolumMulbit;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;
  position: absolute;
  top: 362px;
}
.maker_home_option {
  color: #623B1C;
  text-align: center;
  font-family: HSYeolumMulbit;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;
  position: absolute;
  top: 482px;
}

.maker_home_enroll {
  color: #FFFFFF;
  text-align: center;
  font-family: HSYeolumMulbit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;
  position: absolute;
  top: 680px;
}
.maker_home_enrollbox {
  width: 268px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #75BEDA;
  position: absolute;
  top: 672px;
  
}

input {
  background: transparent;
  border: none;
}