@font-face {
  font-family: 'LotteriaChab';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.ttf') format("truetype");
  font-display: swap;
} 
@font-face {
  font-family: 'HSYeolumMulbit';
  src: url('../assets/fonts/HSYeolumMulbit.ttf');
}

.maker_intro{
  text-align: center;
  display: flex;
  background: #623B1C;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.maker_home_subbox{
  width: 111px;
  height: 26px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #F6EDDD;
  position: absolute;
  top: 241px;

}
.maker_intro .maker_intro_title {
  color: #75BEDA;
  text-align: center;
  font-family: 'LOTTERIACHAB';
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-shadow: -3px 0 #F6EDDD, 0 3px #F6EDDD, 3px 0 #F6EDDD, 0 -3px #F6EDDD;
  position: absolute; 
  top: 140px;
}

.maker_intro_subtitle {
  color:white;
  text-align: center;
  font-family: 'HSYeolumMulbit';
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.39px;
  position: absolute;
  top: 241px;
}