.MakerHomePage {
  text-align: center;
  background: #F6EDDD80;
  width: 390px;
  height: 844px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.MakerHomePage .page_header {
  margin-top: 128px;

  color: #623B1C;
  text-align: center;
  font-family: HSYuJi;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
}

.MakerHomePage textarea {
  padding-top: 20px;
  padding-left: 20px;
}

.MakerHomePage .title_header {
  margin-top: 80px;

  color: #623B1C;
  text-align: center;
  font-family: HSYuJi;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;
}

.MakerHomePage .title_section {
  margin-top: 19px;

  width: 268px;
  height: 55px;

  border-radius: 20px;
  background: #CAAD8C;
}
.MakerHomePage .title_section textarea {
  width: 100%;
  height: 100%;

  font-family: HSYuJi;
  border: none;
  background: none;
}

.MakerHomePage .title_section textarea:focus {
  outline: none;
}
.MakerHomePage .link_header {
  margin-top: 35px;

  color: #623B1C;
  text-align: center;
  font-family: HSYuJi;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;
}
.MakerHomePage .link_section {
  margin-top: 19px;

  width: 268px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #CAAD8C;
}

.MakerHomePage .link_section textarea {
  width: 100%;
  height: 100%;

  font-family: HSYuJi;
  border: none;
  background: none;
}

.MakerHomePage .link_section textarea:focus {
  outline: none;
}
.MakerHomePage .info_header {
  margin-top: 35px;

  color: #623B1C;
  text-align: center;
  font-family: HSYuJi;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;
}
.MakerHomePage .info_section {
  margin-top: 19px;

  width: 268px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #CAAD8C;
}

.MakerHomePage .info_section textarea {
  width: 100%;
  height: 100%;

  font-family: HSYuJi;
  border: none;
  background: none;
}

.MakerHomePage .info_section textarea:focus {
  outline: none;
}

.MakerHomePage .button_section {
  margin-top: 105px;

  width: 268px;
  height: 55px;

  border-radius: 20px;
  background: #75BEDA;

  display: flex;
  justify-content: center;
}
.MakerHomePage .button_section button {
  color: #FFFFFF;
  font-family: HSYuJi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;

  border: none;
  background: none;
}

