@font-face {
  font-family: 'LotteriaChab';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.ttf') format("truetype");
  font-display: swap;
} 
@font-face {
  font-family: 'HSYeolumMulbit';
  src: url('../assets/fonts/HSYeolumMulbit.ttf');
}

.maker_intro{
  width: 390px;
  height: 844px;

  background: #623B1C;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.maker_intro_title {
  margin-top: 140px;

  width: 248px;
  height: 86px;

  color: #75BEDA;
  font-family: 'LOTTERIACHAB';
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-shadow: -3px 0 #F6EDDD, 0 3px #F6EDDD, 3px 0 #F6EDDD, 0 -3px #F6EDDD;
}

.maker_intro_kuki {
  position: relative;

  top: -44px;
  left: 210px;

  width: 50px;
  height: 50px;

  background-image: url('../assets/images/kuki1_front.svg');
  background-size: contain;
}



.maker_intro_subtitle {
  margin-top: 15px;

  width: 111px;
  height: 26px;

  border-radius: 50px;
  background: #F6EDDD;

  color:#623B1C;
  font-family: HSYeolumMulbit;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.39px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.maker_intro_box {
  margin-top: 130px;

  width: 300px;
  height: 300px;

  background-image: url('../assets/images/MakerIntroBox.svg');
}