@font-face {
    font-family: 'HSYeolumMulbit';
    src: url('../../assets/fonts/HSYeolumMulbit.ttf')
}

.title {
  color: #623B1C;
  text-align: center;
  font-family: HSYeolumMulbit;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  white-space: pre-line;
  position: absolute;
  top: 140px;
}

