* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

.hoverable {
  transition: transform 0.3s ease;
}

.hoverable:hover {
  transform: scale(1.1);
}

@font-face {
  font-family: 'HSYuJi';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/HSYuJi/HSYuJi.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/HSYuJi/HSYuJi.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/HSYuJi/HSYuJi.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/HSYuJi/HSYuJi.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/HSYuJi/HSYuJi.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'LotteriaChab';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/LotteriaChab/LotteriaChab.ttf') format("truetype");
  font-display: swap;
} 
