
.KukiModal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.KukiModal_content_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 600px;
    max-width: 100%;
    height: 600px;
}

.KukiModal_content {
    position: relative;
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.KukiModal_text_box {
    z-index: 1;

    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom : 15%;
}

.KukiModal_text {
    color: white;
    font-family: HSYuji;
    font-size: 24px;
}