.onboarding-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.onboarding-content {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    transition: top 1s;
}

.centered {
    top: 25%;
}

.onboarding-container {
    z-index: 1000;

    width: 330px;
    height: 330px;   

    border-radius: 20px;
    background: #75BEDA;

    position: relative;
    perspective: 1000px; /* 3D 회전 효과를 위한 투시 거리 설정 */
}

.front, .back {
    position: absolute;

    left: 110px;
    top: 110px;
    
    width: 110px;
    height: 110px;
    backface-visibility: hidden; /* 뒷면 숨김 */
    transition: transform 0.8s; /* 애니메이션 시간 설정 */
}

.front {
    z-index: 10;
    transform: rotateY(0deg); /* 초기 상태: 정면 보기 */
}

.back {
    z-index: -10;
    transform: rotateY(180deg); /* 초기 상태: 뒷면 보기 */
}

.isFlipped .front {
    transform: rotateY(-180deg); /* 뒷면 보기로 회전 */
}

.isFlipped .back {
    transform: rotateY(0deg); /* 정면 보기로 회전 */
}